*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
  }
  
  header {
   background-color: lightsalmon;
   padding: 25px 0px 0px 0px;
   width: 100%;
  
   
  }
  
  .header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  }
  
  .header-container img {
   position: relative;
   left: 15px;
   width: 5%;
   height: 5%;
   
  }
  
  .header-container .buscador input{
   width: 500px;
   border-radius: 10px;
   
  }
  
  .nav-bar {
    background-color: salmon;
    margin-top: 25px;
    width: 100%;
    /*Flexbox*/
    display:flex;
    justify-content: space-around;
  
  }

  /*MAIN*/

main .Promocion .Promociones {
    width: 100%;
    display: flex;
    text-align: center;
    align-self: center;
    align-items: center;
    justify-content: space-around;
}

/*FOOTER*/


 footer {
    background-color: rgb(111, 111, 245);
   }
  .footer-contenido{
  padding:20px;
  margin-left: 50px;
  /*Flexbox*/
  display:flex;
  }
  
  .footer-contenido-logo{
  padding-top:30px;
    }
  
    .footer-bottom{
      text-align: center;
      padding:30px;
  margin-left: 50px;
    }
   .footer-bottom-contenido
   {
     padding:20px;
     margin-left: 50px;
     color:white;
   }