*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

li, a, button{
 font-family: Roboto;
 font-weight: 500;
 font-size: 14px;
 color:white;/*#edf0f1;*/
 text-decoration: none;
}

.infoheader{
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: rgb(112, 136, 218);
 padding:10px;
 flex-direction: column;
}

.search{
 justify-content: center;
}

.infoheader .logosearch{
 display: flex;
 padding-left:50px;
 padding-right:50px;
}

.infoheader .linksheader{
 display: flex;
 padding-left:20px;
 padding-right:20px;
}

.search-form{
 display: flex;
 flex-direction: column;
}

button{
 padding: 9px 25px;
 background-color: rgba(0, 136, 169, 1);
 border: none;
 border-radius: 50px;
 cursor: pointer;
 transition: all 0.3s ease 0s;
}

button:hover{
 background-color: rgba(0, 136, 169, 0.8);
}

  /*MAIN*/


.lotarticles{
  display:flex;
   flex-wrap:wrap;
   flex-direction: row;
   align-items: flex-start;

}


.imageart{
  height:100px;
  padding-left: 20px;
}
.articulos {

  background-color: white;
  height: 150px;
  width: 90%;
  padding: 10px;
  margin: 10px;
  position: relative;
  border-radius: 5px;
  /*box-shadow: 0 0.0625rem 0.125rem 0 rgba(0,0,0,.15);*/
  filter: drop-shadow(0 0 15px #333);
  padding-top: 10px;
 /*FLEXBOX*/
 display: flex;  
 }
 .imagen-articulo{
 padding: 10px;width: 40%;
 justify-content: center;
 align-items: center;
 }
.infoart{
  width: 70%;
}
 .info-articulos{
   display:flex
 }

 .infoart .infoart-name {
  padding-left: 10px;
  padding-right: 10px;
}
.infoart .infoart-price {
  padding-left: 10px;
  padding-right: 10px;
}

 .infoart-name a{
  font-size:70%;
  color:black
}
.preciodelista{
  text-decoration: line-through;
  font-size:50%;
  justify-content: center;


}
.preciooferta {
  font-size: 65%;
  justify-content: center;


}


.infoeliminar{
  width: 150px;
   padding: 10px;
   font-size: 75%;
   justify-content: center;
   text-align:center;
}


.totalprice{
  justify-content: center;
  text-align:center;
}

.finalizar{
  justify-content: center;
  text-align:center;
}



/*FOOTER*/


footer {
  background-color: rgb(111, 111, 245);
  height: auto;
  text-align: center;
 }
.footer-contenido{
padding:20px;
/*Flexbox*/
display:flex;

}

.container-aviso{
  padding:10px 10px;
}

.footer-contenido-logo{
padding-top:30px;
padding-left:30px;
  }

  .footer-bottom{
    text-align: center;
    padding:30px;
  }
 .footer-bottom-contenido
 {
   padding:20px;
   color:white;
 }

    /* Media Queries */

    @media(max-width:426px){
      
      .container-articulos{
        width: 100%;
        }
      
      .body{
   flex-direction: column;
      }
     .footer-contenido{
       flex-direction:column;
     }
    section .promo{
       width:30%;
    }
   
   }
   @media(min-width:426px)and (max-width:768px){
    .infoheader{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(112, 136, 218);
      padding:10px;
      flex-direction: row;
    }
    
    .search{
      justify-content: center;
    }
    
    .infoheader .logosearch{
      display: flex;
      padding-left:50px;
      padding-right:50px;
    }
    
    .infoheader .linksheader{
      display: flex;
      padding-left:20px;
      padding-right:20px;
    }
    
    .search-form{
      display: flex;
      flex-direction: column;
    }
   .container-articulos{
     margin-left: auto;
     margin-right: auto;
   }
   .carritodecompras{
     align-items: center;
   }
    .imageart{
      height:100px;
      padding-left: 20px;
    }
    .articulos {
    
      background-color: white;
      height: 150px;
      padding: 10px;
      margin: 10px;
      position: relative;
      border-radius: 5px;
      /*box-shadow: 0 0.0625rem 0.125rem 0 rgba(0,0,0,.15);*/
      filter: drop-shadow(0 0 15px #333);
      padding-top: 10px;
     /*FLEXBOX*/
     display: flex;  
     }
     .imagen-articulo{
     padding: 10px;width: 40%;
     justify-content: center;
     align-items: center;
     }
    .infoart{
      width: 70%;
    }
     .info-articulos{
       display:flex
     }
    
     .infoart .infoart-name {
      padding-left: 10px;
      padding-right: 10px;
    }
    .infoart .infoart-price {
      padding-left: 10px;
      padding-right: 10px;
    }
    
     .infoart-name a{
      font-size:70%;
      color:black
    }
    .preciodelista{
      text-decoration: line-through;
      font-size:50%;
      justify-content: center;
    
    
    }
    .preciooferta {
      font-size: 65%;
      justify-content: center;
    
    
    }








    .footer-contenido{
      flex-direction:column;
    }
   }
  
   @media(min-width:769px){
    .infoheader{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(112, 136, 218);
      padding:10px;
      flex-direction: row;
    }
    
    .search{
      justify-content: center;
    }
    
    .infoheader .logosearch{
      display: flex;
      padding-left:50px;
      padding-right:50px;
    }
    
    .infoheader .linksheader{
      display: flex;
      padding-left:20px;
      padding-right:20px;
    }
    
    .search-form{
      display: flex;
      flex-direction: column;
    }
    .container-articulos{
      margin-left:auto;
      margin-right:auto;
    }
   
    .imageart{
      height:100px;
      padding-left: 20px;
    }
    .articulos {
    
      background-color: white;
      height: 150px;
      width: 90%;
      padding: 10px;
      margin: 10px;
      position: relative;
      border-radius: 5px;
      /*box-shadow: 0 0.0625rem 0.125rem 0 rgba(0,0,0,.15);*/
      filter: drop-shadow(0 0 15px #333);
      padding-top: 10px;
     /*FLEXBOX*/
     display: flex;  
     }
     .imagen-articulo{
     padding: 10px;width: 40%;
     justify-content: center;
     align-items: center;
     }
    .infoart{
      width: 70%;
    }
     .info-articulos{
       display:flex
     }
    
     .infoart .infoart-name {
      padding-left: 10px;
      padding-right: 10px;
    }
    .infoart .infoart-price {
      padding-left: 10px;
      padding-right: 10px;
    }
    
     .infoart-name a{
      font-size:70%;
      color:black
    }
    .preciodelista{
      text-decoration: line-through;
      font-size:50%;
      justify-content: center;
    
    
    }
    .preciooferta {
      font-size: 65%;
      justify-content: center;
    
    
    }




   }