*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

li, a, button{
 font-family: Roboto;
 font-weight: 500;
 font-size: 14px;
 color:white;/*#edf0f1;*/
 text-decoration: none;
}

.infoheader{
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: rgb(112, 136, 218);
 padding:10px;
 flex-direction: column;
}

.search{
 justify-content: center;
}

.infoheader .logosearch{
 display: flex;
 padding-left:50px;
 padding-right:50px;
}

.infoheader .linksheader{
 display: flex;
 padding-left:20px;
 padding-right:20px;
}

.search-form{
 display: flex;
 flex-direction: column;
}

button{
 padding: 9px 25px;
 background-color: rgba(0, 136, 169, 1);
 border: none;
 border-radius: 50px;
 cursor: pointer;
 transition: all 0.3s ease 0s;
}

button:hover{
 background-color: rgba(0, 136, 169, 0.8);
}

  /*MAIN*/
  main .Carrito {
padding: 1%;  
}

.lotarticles{
  display:flex;
   flex-wrap:wrap;
   flex-direction: column;
   align-items: flex-start;

}

.info-articulos{
  display:flex;
}

.imagen-articulo{
 height: 80px;
 width: 80px;
}
.articulos {

   background-color: white;
   height: 100px;
   width:800px;
   padding: 10px;
   margin: 20px;
   position: relative;
   border-radius: 5px;
   /*box-shadow: 0 0.0625rem 0.125rem 0 rgba(0,0,0,.15);*/
   filter: drop-shadow(0 0 15px #333);
   padding-top: 10px;
  /*FLEXBOX*/
  display: flex; 
  }
.infoart{
  display: flex; 
}
  .infoart-name {
    width: 300px;
    height: 80px;
   padding: 10px;
}


  .infoart-name a{
   font: size 75px;;
}

.infoart-price{
  display: flex;
}


.preciodelista{
  width: 100px;
   padding: 10px;
   text-decoration: line-through;
   font-size:75%;
   justify-content: center;
   text-align:center;


}
.preciooferta {
  width: 150px;
   padding: 10px;
   font-size: 75%;
   justify-content: center;
   text-align:center;
}

.infoeliminar{
  width: 150px;
   padding: 10px;
   font-size: 75%;
   justify-content: center;
   text-align:center;
}






/*FOOTER*/


 footer {
    background-color: rgb(111, 111, 245);
   }
  .footer-contenido{
  padding:20px;
  margin-left: 50px;
  /*Flexbox*/
  display:flex;
  }
  
  .footer-contenido-logo{
  padding-top:30px;
    }
  
    .footer-bottom{
      text-align: center;
      padding:30px;
  margin-left: 50px;
    }
   .footer-bottom-contenido
   {
     padding:20px;
     margin-left: 50px;
     color:white;
   }

    /* Media Queries */

   @media(max-width:426px){

    main .terciario .Productos_Interesar {
      font-size: small;
    } 

  }

  @media(max-width:768px){

    main .terciario .Productos_Interesar {
      font-size: large;
    }
  }