 *{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: Roboto;
 }

 header {
   background-color: rgb(111, 111, 245);
   padding: 15px 0px 0px 0px;
   width: 100%;
   
 }

 .header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
 }

 .header-container img {
   position: relative;
   top: 15px;
   left: 5px;
 }

 .header-container .buscador input{
   width: 500px;
   border-radius: 10px;
   
 }

 .nav-bar {
   background-color: rgb(107, 174, 197);
   margin-top: 30px;
   width: 100%;
   /*Flexbox*/
   display:flex;
 }

 /*.nav-bar ul li{
   display: inline-block;
   position: relative;
   left: 280px;
   margin-left: 100px;
   margin-right: 100px;*/
   
 }

 main {
   background-color: grey;
   width: 99%;
   margin-left: auto;
   margin-right: auto;
 }

 section{
/*Flexbox*/
display:flex;
flex-wrap:wrap;
height:500;
background-color: red;

 }
 article{
   width: 25%;
   margin-bottom:30px;
   padding:15px
   border-radius:10px;
   background: white;
 }

 article img{
   width:20%;
 }
 footer {
  background-color: rgb(111, 111, 245);
 }

 .footer-bottom-contenido
 {
   padding:10px;
 }

 .promos article {
   vertical-align: top;
   display: inline-block;
 }

  .exterioresCarrusel div {
    vertical-align: top;
    display: inline-block;
  }

   .pie article{
     vertical-align: top;
     display: inline-block;
   }