*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

/*body{
    background-image: url("/images/azulOscuro.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}*/