*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

/*HEADER*/

   
body header li, a, button{
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}
 
header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  background-color: rgb(112, 136, 218);
}

header img{
  margin-right: auto;
}

.nav-links{
  list-style: none;
}

.nav-links li{
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a{
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
  color: #0088a9;
}

button{
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover{
  background-color: rgba(0, 136, 169, 0.8);
}

/*MAIN*/






 /*FOOTER*/
 
 footer {
  background-color: rgb(111, 111, 245);
  height: auto;
  text-align: center;
 }
.footer-contenido{
padding:20px;
margin-left: 20px;
/*Flexbox*/
display:flex;

}

.footer-contenido-logo{
padding-top:30px;
padding-left:30px;
  }

  .footer-bottom{
    text-align: center;
    padding:30px;
  }
 .footer-bottom-contenido
 {
   padding:20px;
   color:white;
 }


 /* Media Queries */
 @media(max-width:426px){

footer .footer-container .footer-contenido {
    flex-direction:column;
  }

  main .principal .Producto {
   width: 40%;
   align-content: flex-start;
   align-self: flex-start;
   align-items: flex-start;
   text-align: start;

 
  }

  main .principal .Información {
    width: 40%;
    align-content: flex-end;
    align-self: flex-end;
    align-items: flex-end;
    text-align: center;
    font-size: small;

  
   }

   main .principal .Información .Precio {
     font-size: large;
   }

   main .principal .Acciones {
    width: 100%;
  
   }

   main .terciario .Productos_Interesar {
    font-size: small;
  }

  main .secundario .Descripción-Producto {
    font-size: medium;
  }
}

@media(max-width:768px){

  main .principal .Información {
text-align: center;
  }


main .principal .Información .Retiro_Gratis {
display: none;
}

  main .principal .Acciones {
    width: 100%;
  
   }

   main .terciario .Productos_Interesar {
    font-size: large;
  }

}
