*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

/*HEADER*/

   
body header li, a, button{
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}
 
header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  background-color: rgb(112, 136, 218);
}

header img{
  margin-right: auto;
}

.nav-links{
  list-style: none;
}

.nav-links li{
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a{
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
  color: #0088a9;
}

button{
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover{
  background-color: rgba(0, 136, 169, 0.8);
}

/*MAIN*/

main {
  width: 100%;
  font-family: Roboto;
  font-variant: small-caps;
  /* me gustó small caps pero bueno, a decidir */ 
}

/* MAIN PRINCIPAL */

main .principal {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color:white;

 
}



main .principal .Producto {
  width: 32%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;


}

main .principal .Producto img {
height: 30vw;
align-self: start;

}


main .principal .Producto h1 {
  color: lightcoral;
}



main .principal .Información {
  width: 32%;
padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
  box-sizing: border-box;
  border-style: solid;
  border-color: lightcoral;
 
}

main .principal .Información .Color {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-self: center;
  color: black;
  text-decoration: underline;
  flex-wrap: wrap;
text-align: center;

  
}




main .principal .Información .Color .Colores_Disponibles {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 2%;
}

main .principal .Información .Color .Colores_Disponibles .Rojo input {
  background-color: red;
color: red;
margin:5px;

}

main .principal .Información .Color .Colores_Disponibles .Azul input {
  background-color: blue;
color: blue;
margin:5px;


}

main .principal .Información .Color .Colores_Disponibles .Verde input {
  background-color: green;
color: green;
margin:5px;

}

main .principal .Información .Color .Colores_Disponibles .Amarillo input {
  background-color: yellow;
color: yellow;
margin:5px;

}

main .principal .Información .Color .Colores_Disponibles .Marron input {
  background-color: brown;
color: brown;
margin:5px;

}




main .principal .Información .Precio {
  color: cadetblue;
  font-size: xx-large;
}


main .principal .Acciones {
  width: 32%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  box-sizing: border-box;
  flex-wrap: wrap;


}

main .principal .Acciones .Carrito {
  display: flex;
}

main .principal .Información .Retiro_Gratis {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding-top: 20%;
  justify-content: space-around;

}

main .principal .Información .Retiro_Gratis a {
  color:lightcoral;
  text-decoration: none;
}



main .principal .Acciones input {
  width: 15%;
  background-color: lightcoral;
  margin-right: 5%;
  color: white;
  text-align: center;
  font-size: medium;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 4px;
  border-color: lightcoral;
}

main .principal .Acciones a:focus {
  border-bottom: 1px solid;
  background: #BAE498;
}

main .principal .Acciones a:hover {  
  transition: background-color .10s; 
  background-color: rgba(0,0,0, 0.19);
}

main .principal .Acciones .Pago_Extra a:hover {
background-color: white;
}


main .principal .Acciones .Carrito a {
  color:whitesmoke;
  text-decoration: none;
  width: 100%;
}

main .principal .Acciones .Pago_Extra a {
  color:black;
  text-decoration: none;
}

main .principal .Acciones .Pago_Extra a i {
  font-size: xx-large;
  color:lightcoral;
  text-decoration: none;
}


main .principal .Acciones .Carrito .Boton {
  width: 80%;
height: 50px;
line-height: 54px;
display: block;
background-color: lightcoral;
color: #FFF;
border-radius: 4px;
}

main .principal .Acciones .Pago_Extra {
  display: flex;
}

main .principal .Acciones .Pago_Extra .Pagos {
  display: flex;
  flex-direction: column;
}

main .principal .Acciones .Pago_Extra .Envíos {
  display: flex;
  flex-direction: column;

}

main .principal .Acciones .Pago_Extra .Pagos {
  width: 49%;
}

main .principal .Acciones .Pago_Extra .Envíos {
  width: 49%;
}


/* MAIN SECUNDARIO */

main .secundario .Descripción-Producto {
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: large;
}

main .secundario .Descripción-Producto p {
  text-align: center;
}

main .secundario .Descripción-Producto ul {
  padding: 0px 15%;
 
}

}

/* MAIN TERCIARIO */

main .terciario .PromoImportante img {
  display: inline;
  width: 100%;
}

main .terciario .Productos_Interesar {
  text-align: center;
  font-size: xx-large;
  margin: 10%;
}



main .terciario .Productos_Interesar .Imagenes_Interesar {
  box-sizing: border-box;
  border-color: black;
  border-style: groove;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 5%;
}

main .terciario .Productos_Interesar .Imagenes_Interesar img {
  width: 30%;
height: auto;

}


 /*FOOTER*/
 
 footer {
  background-color: rgb(111, 111, 245);
  height: auto;
  text-align: center;
 }
.footer-contenido{
padding:20px;
margin-left: 20px;
/*Flexbox*/
display:flex;

}

.footer-contenido-logo{
padding-top:30px;
padding-left:30px;
  }

  .footer-bottom{
    text-align: center;
    padding:30px;
  }
 .footer-bottom-contenido
 {
   padding:20px;
   color:white;
 }


 /* Media Queries */
 @media(max-width:426px){

footer .footer-container .footer-contenido {
    flex-direction:column;
  }

  main .principal .Producto {
   width: 40%;
   align-content: flex-start;
   align-self: flex-start;
   align-items: flex-start;
   text-align: start;

 
  }

  main .principal .Información {
    width: 40%;
    align-content: flex-end;
    align-self: flex-end;
    align-items: flex-end;
    text-align: center;
    font-size: small;

  
   }

   main .principal .Información .Precio {
     font-size: large;
   }

   main .principal .Acciones {
    width: 100%;
  
   }

   main .terciario .Productos_Interesar {
    font-size: small;
  }

  main .secundario .Descripción-Producto {
    font-size: medium;
  }
}

@media(max-width:768px){

  main .principal .Información {
text-align: center;
  }


main .principal .Información .Retiro_Gratis {
display: none;
}

  main .principal .Acciones {
    width: 100%;
  
   }

   main .terciario .Productos_Interesar {
    font-size: large;
  }

}
