*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Times, serif;
}

/*HEADER*/
i{
  font-size: 20px;
}
   
body header li, a, button{
  font-family: Roboto;
  font-weight: 500;
  font-size: 15px;
  color: #2705bd;
  text-decoration: none;
}
 
header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  background-color: rgb(112, 136, 218);
}

header img{
  margin-right: auto;
}

.nav-links{
  list-style: none;
}

.nav-links li{
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a{
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
  color: #0088a9;
}

button{
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover{
  background-color: rgba(0, 136, 169, 0.8);
}

/*MAIN*/

.container{
  /*background-color: red;*/
  display: flex;
}
.imagen{
  height:400px;
  width: 400px;
}
.imagenproductcontainer{
  padding-left: 10px;
  margin-left: 100px;
  margin-right: 100px;
  border-right-width: 100px;
  width: 400px;
  padding-left: 125px;
  padding-right: 125px;
}
.imageproduct
{
  height: 500px;
  width:50%;
  display: flex;
  /*background-color: green*/
  padding:30px;
  padding-left: 100px;
  margin-left: 100px;
  padding-right: 100px;
}

.infoproduct{
  /*background-color: red;*/
  width: 50%;
  height: 500px;
  padding:25px;
}

/*.nameproduct, .cardproduct, .generalproduct, .selectproduct{
  background-color: blue;
}/*para detectarlos*/

.nameproduct{
  /*background-color: yellow;*/
  padding-top:25px;
  padding-left:25px;
  padding-right:25px;
  margin-bottom:20px;
}

.paymentproduct{
 /* background-color:pink;*/
 padding:25px;
}

.presentation{
background-color: cadetblue;
padding:20px;
margin-bottom:20px;
}

.prescontainer{
  background-color: white ;
  display:flex;
}
.medidas, 
.color {
  padding-left: 30px;
  padding-right:30px;
}


.price{
/*background-color: blueviolet;*/
margin-bottom:20px;
}


.buy{margin-bottom:20px;

}
.buycontainer{
  display: flex;

  height: 40px;

 
}
.quantity{
  background-color: chocolate;
width: 35%;
padding-left: 35px;
align-items: center;

}
.buyinfo{
  display:flex;
  width: 65%;
  padding-left: 30px;
  background-color: rgb(255, 187, 0);
  align-items: center;

}
.pickupcontainerinfo{
  /*background-color: blueviolet;*/
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #e3e3e3;

}
.method,
.pick{
  padding-left: 15px;
  width: 50%;
}
.methodinfo,
.pickinfo{
  display:flex;
  align-items: center;
  width: 100%;

}

.textinfo{
  padding-left: 10px;
}

/*SECTION INFORMATION*/

.descriptionproduct{
  margin-left:100px;
  margin-right:100px;
  padding: 50px;
}

.descriptiontitulo {
  padding-top: 20px;
  padding-bottom: 20px;
}
.descriptioninfo{
  padding-top: 20px;
  padding-bottom: 20px;
}




 /*FOOTER*/
 
 footer {
  background-color: rgb(111, 111, 245);
  height: auto;
  text-align: center;
 }
.footer-contenido{
padding:20px;
margin-left: 20px;
/*Flexbox*/
display:flex;

}

.footer-contenido-logo{
padding-top:30px;
padding-left:30px;
  }

  .footer-bottom{
    text-align: center;
    padding:30px;
  }
 .footer-bottom-contenido
 {
   padding:20px;
   color:white;
 }


 /* Media Queries */
 @media (min-width: 1024px)
 { 
  .footer-contenido{
    flex-direction:row;
  }

  .container{
    width:auto;
   }
   .imageproduct{
    flex-direction:column;
    width:60%;
   }



 @media (min-width: 768px)and (max-width: 1023px)
 { 
  .footer-contenido{
    flex-direction:row;
  }

  .container{
    width:auto;
   }
   .imageproduct{
    flex-direction:column;
    width:auto;
   }
}
 @media (min-width: 426px) and (max-width: 767px)
 { 
  .footer-contenido{
    flex-direction:column;
  }

  .container{
    flex-direction:column;
    width:auto;
   }
   .imageproduct{
    flex-direction:column;
    width:auto;
   }
}







 @media(max-width:42px){

  
    .container{
      flex-direction:column;
      width:auto;
     }
     .imageproduct{
      flex-direction:column;
      width:auto;
     }
      .footer-contenido{
        flex-direction:column;
      }
      .PromoImportante{
        display:none;
      }
      .infoproduct{
        width: auto;
      }
    }}

