*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

body{
    width: 100%;
    background-color: rgb(230, 230, 230);
    
}

button{
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0, 136, 169, 0.8);
}
   

.container{
    background-color: rgb(230, 230, 230);
}

.register-container{
    background-color: white;
    height: auto;
    width: 30%;
    padding: 20px 65px;
    position: absolute;
    top: 25%;
    left: 30%;
    border-radius: 6px;
    box-shadow: 0 0.0625rem 0.125rem 0 rgba(0,0,0,.15);
}

.register-container h1{
    text-align: center;
    font-size: 40px;
    border-bottom: 6px solid rgb(111, 111, 245);
    margin-bottom: 50px;
    padding: 13px 0;
    color: rgb(61, 61, 61);
}

.text-box{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid rgb(111, 111, 245) ;
}

.text-box i{
    width: 26px;
    float: left;
    text-align: center;
    color: rgb(61, 61, 61)
}

.text-box input{
    border: none;
    outline: none;
    background: none;
    color: rgb(61, 61, 61) ;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}

.btn button{
    width: 100%;
    background: none;
    border: 2px solid rgb(111, 111, 245);
    color: rgb(61, 61, 61);
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}

 /*FOOTER*/
 

 /*Tablet*/

 @media (max-width: 768px) { 
    .register-container{
        background-color: white;
        height: auto;
        width: 50%;
        padding: 0px 65px;
        position: absolute;
        top: 25%;
        left: 25%;
        border-radius: 6px;
        box-shadow: 0 0.0625rem 0.125rem 0 rgba(0,0,0,.15);
  }

  /*mobile*/

  @media (max-width: 576px) { 
    .register-container{
        background-color: white;
        height: auto;
        width: 50%;
        padding: 0px 6px;
        position: absolute;
        top: 25%;
        left: 25%;
        border-radius: 6px;
        box-shadow: 0 0.0625rem 0.125rem 0 rgba(0,0,0,.15);
        
  }
