*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

li, a, button{
 font-family: Roboto;
 font-weight: 500;
 font-size: 14px;
 color:white;/*#edf0f1;*/
 text-decoration: none;
}
.errores{
 justify-content: center;
 margin-top:100px;
 padding-left: 50px;
 padding-right: 50px;
}
.errores a{
 color:black;
}

.infoheader{
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: rgb(112, 136, 218);
 padding:10px;
 flex-direction: column;
}

.search{
 justify-content: center;
}

.infoheader .logosearch{
 display: flex;
 padding-left:50px;
 padding-right:50px;
}

.infoheader .linksheader{
 display: flex;
 padding-left:20px;
 padding-right:20px;
}

.search-form{
 display: flex;
 flex-direction: column;
}

button{
 padding: 9px 25px;
 background-color: rgba(0, 136, 169, 1);
 border: none;
 border-radius: 50px;
 cursor: pointer;
 transition: all 0.3s ease 0s;
}

button:hover{
 background-color: rgba(0, 136, 169, 0.8);
}

  /* main9*/ 
  main{
    background-color: grey;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
 
 .responsive
 {
   width: 80%;
   height: auto;
 }
 /*FIN DE HEADER*/
.result_search{
    display:flex;
    margin-top:20px;
    margin-bottom:20px;
    margin-left:20px;
    margin-right:30px;
}
.search_results{
 /*   background-color: grey;*/
    width:100%;
    padding-left:10px;
}
 .img{
    height:100px;
    height: 100px;
 }


.estosson{
padding-top: 30px;
padding-bottom: 30px;
font-size:125%;
}


.lotarticles{
  display:flex;
   flex-wrap:wrap;
   flex-direction: column;
   align-items: flex-start;

}
.opciones{
  display:flex;
  flex-direction: row;
}

.imageart{
  height:50px;
  padding-left: 20px;
}
.articulos {

  background-color: white;
  height: 100px;
  width: 70%;
  margin: 10px;
  position: relative;
  border-radius: 5px;
  /*box-shadow: 0 0.0625rem 0.125rem 0 rgba(0,0,0,.15);*/
  filter: drop-shadow(0 0 15px #333);
 /*FLEXBOX*/
 display: flex;  
 }
 .imagen-articulo{
 justify-content: center;
 align-items: center;
 }
.infoart{
  width: 60%;
}
 .info-articulos{
   display:flex;
 }

 .infoart .infoart-name {
  padding-left: 10px;
  padding-right: 10px;
}
.infoart .infoart-price {
  padding-left: 10px;
  padding-right: 10px;
}

 .infoart-name a{
  font-size:70%;
  color:black
}
.preciodelista{
  text-decoration: line-through;
  font-size:50%;
  justify-content: center;


}
.preciooferta {
  font-size: 65%;
  justify-content: center;


}


/*
.lotarticles{
   display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    align-items: flex-start;

}
 .articulos {

    background-color: white;
    height: 400px;
    width: 300px;
    padding: 10px;
    margin: 20px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0.0625rem 0.125rem 0 rgba(0,0,0,.15);
    filter: drop-shadow(0 0 15px #333);
    padding-top: 10px;

   display: flex;  
   }*/

/*   .infoart-name {
    padding-top: 10px;
    padding-bottom: 10px;
}


   .infoart-name a{
    font-size:125%;
}
.preciodelista{
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: line-through;
    font-size:125%;
    justify-content: center;
 

}
.preciooferta {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 150%;
    justify-content: center;
 

}*/




  /*FOOTER*/
  
  footer {
   background-color: rgb(111, 111, 245);
   height: auto;
   text-align: center;
   align-items: center;
  }
 .footer-contenido{
 padding:20px;
 margin-left: 20px;
 /*Flexbox*/
 display:flex;
 align-items: center;
 
 }

 .container-aviso{
   padding:10px 10px;
 }
 
 .footer-contenido-logo{
 padding-top:30px;
 padding-left:30px;
   }
 
   .footer-bottom{
     text-align: center;
     padding:30px;
   }
  .footer-bottom-contenido
  {
    padding:20px;
    color:white;
  }

  @media(max-width:426px){
    .body{
 flex-direction: column;
    }
   .footer-contenido{
     flex-direction:column;
   }
  section .promo{
     width:30%;
  }
 
 }
 @media(min-width:426px)and (max-width:768px){
  .container-articulos{
    margin-left: auto;
    margin-right:auto;
  }

  .infoheader{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(112, 136, 218);
    padding:10px;
    flex-direction: row;
  }
  
  .search{
    justify-content: center;
  }
  
  .infoheader .logosearch{
    display: flex;
    padding-left:50px;
    padding-right:50px;
  }
  
  .infoheader .linksheader{
    display: flex;
    padding-left:20px;
    padding-right:20px;
  }
  
  .search-form{
    display: flex;
    flex-direction: column;
  }
 /* fin header*/


 .lotarticles{
  display:flex;
   flex-wrap:wrap;
   flex-direction: row;
   align-items: flex-start;

}


.imageart{
  padding-left: 0px;
  height: 40px;
  padding-right: 0px;

}

  .articulos {
 
     background-color: white;
     height: 100px;
     width: 150px;
     padding: 10px;
     margin: 20px;
     position: relative;
     border-radius: 5px;
    filter: drop-shadow(0 0 15px #333);
     padding-top: 10px;
    /*FLEXBOX*/
    display: flex;  
    }
 
    .infoart .infoart-name {
      padding-left: 0px;
      padding-right: 0px;
  }
 
    .infoart-name a{
     font-size:25%;
 }
 .preciodelista{
     text-decoration: line-through;
     font-size:50%;
     justify-content: center;
  
 
 }
 .preciooferta {
     font-size: 50%;
     justify-content: center;
 }
 
 

  .footer-contenido{
    flex-direction:column;
  }
 }

 @media(min-width:768px){
  .infoheader{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(112, 136, 218);
    padding:10px;
    flex-direction: row;
  }
  
  .search{
    justify-content: center;
  }
  .opciones{
    display:flex;
    flex-direction: row;
  }
  .infoheader .logosearch{
    display: flex;
    padding-left:50px;
    padding-right:50px;
  }
  
  .infoheader .linksheader{
    display: flex;
    padding-left:20px;
    padding-right:20px;
  }
  
  .search-form{
    display: flex;
    flex-direction: column;
  }
  .imageart{
    padding-left: 0px;
    height: 40px;
    padding-right: 0px;
  
  }
  .lotarticles{


    display:flex;
     flex-wrap:wrap;
     flex-direction: row;
     align-items: flex-start;
     margin-left: 75px;
     margin-right: auto;
 
 }

 .imageart{
  padding-left: 0px;
  height: 90px;
  padding-right: 0px;

}

  .articulos {
 
     background-color: white;
     height: 400px;
     width: 250px;
     padding: 10px;
     margin: 20px;
     position: relative;
     border-radius: 5px;
     filter: drop-shadow(0 0 15px #333);
     padding-top: 10px;
    /*FLEXBOX*/
    display: flex; 
   flex-direction: row; 
    }
 

    .info-articulos{
      display:flex;
      flex-direction: column; 
    
    }
    .infoart-name {
     padding-top: 10px;
     padding-bottom: 10px;
 }
 
 .infoart{
   width: 100%;
 }
    .infoart-name a{
     font-size:125%;
 }
 .preciodelista{
     padding-top: 10px;
     padding-bottom: 10px;
     text-decoration: line-through;
     font-size:125%;
     justify-content: center;
  
 
 }
 .preciooferta {
     padding-top: 10px;
     padding-bottom: 10px;
     font-size: 150%;
     justify-content: center;
  
 
 }


 }
