 header {
   background-color: rgb(73, 73, 255);
 }
 
 main {
   background-color: grey;
 }
 
 footer {
   background-color: hotpink;
   margin: 10px 10px 10px 10px;
 }
 
 
 
 .buscador, .fav, .carrito, .ingreso {
  vertical-align: top;
  display: inline-block;
}

ul li {
  vertical-align: top;
  display: inline-block;
}

 .interioresCarrusel div {
  vertical-align:top;
  display: inline-block;
}

 .promos article {
   vertical-align: top;
   display: inline-block;
 }

  .exterioresCarrusel div {
    vertical-align: top;
    display: inline-block;
  }

   .pie article{
     vertical-align: top;
     display: inline-block;
   }