*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
  }
 
  li, a, button{
   font-family: Roboto;
   font-weight: 500;
   font-size: 14px;
   color:white;/*#edf0f1;*/
   text-decoration: none;
 }
 .errores{
   justify-content: center;
   margin-top:100px;
   padding-left: 50px;
   padding-right: 50px;
 }
 .errores a{
   color:black;
 }
  
 .infoheader{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(112, 136, 218);
   padding:10px;
   flex-direction: column;
 }
 
 .search{
   justify-content: center;
 }
 
 .infoheader .logosearch{
   display: flex;
   padding-left:50px;
   padding-right:50px;
 }
 
 .infoheader .linksheader{
   display: flex;
   padding-left:20px;
   padding-right:20px;
 }
 
 .search-form{
   display: flex;
   flex-direction: column;
 }
 
 button{
   padding: 9px 25px;
   background-color: rgba(0, 136, 169, 1);
   border: none;
   border-radius: 50px;
   cursor: pointer;
   transition: all 0.3s ease 0s;
 }
 
 button:hover{
   background-color: rgba(0, 136, 169, 0.8);
 }
/*fin del header*/

.container-profile{
    /*background-color:blue;*/
    height: 500px;
 width: 100%;
}
       

.profile-info{
    background-color: rgb(75, 75, 75);
    height: 500px;
 width: 100%;
 padding-top: 20px;
 padding-bottom: 20px;
 padding-left: 20px;
 padding-right: 20px;
}
          
.info-greeting{
    height: 50px;
 width: 100%;
 padding-left: 20px;
 padding-right: 20px;

}
         .opciones{
             display:flex;
             padding-left: 20px;
             padding-right: 20px;
         }  
.info-profile{
    display: flex;
    /*background-color: rgb(114, 111, 111);*/
    height: 300px;
    padding:10px;
    justify-content: space-between;
}
.info-actividad{
    background-color: rgb(255, 255, 255);
    height: 300px;
 width: 100%;
 padding-left:50px;
 padding-right:50px;
 margin-left: 30px;
 padding-top: 10px;
 border-radius: 10px;
 box-shadow: 0 0.0625rem 0.125rem 0 rgba(0,0,0,.15);
}
.info-username{
    background-color: rgb(255, 255, 255);
    height: 50vh;
 width:100%;
 padding:20px;
 border-radius: 10px;
 box-shadow: 0 0.0625rem 0.125rem 0 rgba(0,0,0,.15);
}
.username-name {
    padding-top: 5px;
    padding-bottom: 5px;
}

.username-tarjetas{
    padding-top: 10px;
    padding-bottom: 10px;
}

.username-direcciones{
    padding-top: 10px;
    padding-bottom: 10px;
}

.info-carrito {
    background-color: rgb(128, 0, 100);
    height: 100px;
 width:850px;
 margin:10px;
 text-align: center;
 justify-content:center;
 
}
.h4
{
    text-align: center;
    padding-top: 10px;
    
}

.info-compras  { 
    background-color: rgb(128, 0, 100);
    height: 100px;
 width:850px;
 margin:10px;
 text-align: center;
}


/*Footer*/
footer {
    background-color: rgb(111, 111, 245);
    height: auto;
    text-align: center;
   }
  .footer-contenido{
  padding:20px;
  margin-left: 20px;
  /*Flexbox*/
  display:flex;
  
  }
  
  .container-aviso{
    padding:10px 10px;
  }
  
  .footer-contenido-logo{
  padding-top:30px;
  padding-left:30px;
    }
  
    .footer-bottom{
      text-align: center;
      padding:30px;
    }
   .footer-bottom-contenido
   {
     padding:20px;
     color:white;
   }


@media(max-width:426px){
    .body{
 flex-direction: column;
    }
   .footer-contenido{
     flex-direction:column;
   }
  section .promo{
     width:30%;
  }
 
 }
  
 @media(min-width:426px)and (max-width:768px){
    .infoheader{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(112, 136, 218);
      padding:10px;
      flex-direction: row;
    }
    
    .search{
      justify-content: center;
    }
    
    .infoheader .logosearch{
      display: flex;
      padding-left:50px;
      padding-right:50px;
    }
    
    .infoheader .linksheader{
      display: flex;
      padding-left:20px;
      padding-right:20px;
    }
    
    .search-form{
      display: flex;
      flex-direction: column;
    }
   
    .info-profile{
        display: flex;
        /*background-color: rgb(114, 111, 111);*/
        height: 300px;
        padding:10px;
        justify-content: space-between;
        margin-left: 200px;
        margin-right: 200px;
    }

    .info-greeting{
        height: 50px;
     width: 100%;
     /*padding-left: 300px;
     padding-right: 300px; */
     text-align:center;
    }


   .info-username{

       background-color: rgb(255, 255, 255);
    height: 60vh;
 width:100%;
 padding:20px;
 border-radius: 10px;
 box-shadow: 0 0.0625rem 0.125rem 0 rgba(0,0,0,.15);
   }
   
   
    .footer-contenido{
  
      flex-direction:column;
    }
}

@media(min-width:769px)and (max-width:1024px){
    .infoheader{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(112, 136, 218);
      padding:10px;
      flex-direction: row;
    }
    
    .search{
      justify-content: center;
    }
    
    .infoheader .logosearch{
      display: flex;
      padding-left:50px;
      padding-right:50px;
    }
    
    .infoheader .linksheader{
      display: flex;
      padding-left:20px;
      padding-right:20px;
    }
    
    .search-form{
      display: flex;
      flex-direction: column;
    }
  
    .info-profile{
        display: flex;
        /*background-color: rgb(114, 111, 111);*/
        height: 300px;
        padding:10px;
        justify-content: space-between;
        margin-left: 300px;
        margin-right:300px;
    }


    .info-greeting{
        height: 50px;
     width: 100%;
     padding-left: 20px;
     padding-right: 20px;
     text-align:center;
    
    }
    .info-username{

        background-color: rgb(255, 255, 255);
     height: 50vh;
  width:100%;
  padding:20px;
  border-radius: 10px;
  box-shadow: 0 0.0625rem 0.125rem 0 rgba(0,0,0,.15);
    }
}

@media(min-width:1025px)and (max-width:1440px){
    .infoheader{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(112, 136, 218);
        padding:10px;
        flex-direction: row;
      }
      
      .search{
        justify-content: center;
      }
      
      .infoheader .logosearch{
        display: flex;
        padding-left:50px;
        padding-right:50px;
      }
      
      .infoheader .linksheader{
        display: flex;
        padding-left:20px;
        padding-right:20px;
      }
      
      .search-form{
        display: flex;
        flex-direction: column;
      }
    
      .info-profile{
          display: flex;
          /*background-color: rgb(114, 111, 111);*/
          width: 50vh;
          height: 300px;
          padding:10px;
          justify-content: space-between;
          margin-left: auto;
          margin-right:auto;
      }
  
  
      .info-greeting{
          height: 50px;
       width: 100%;
       padding-left: 20px;
       padding-right: 20px;
       text-align:center;
      
      }
      .info-username{
  
          background-color: rgb(255, 255, 255);
       height: 60vh;
    width:100%;
    padding:20px;
    border-radius: 10px;
    box-shadow: 0 0.0625rem 0.125rem 0 rgba(0,0,0,.15);
      }
  }

@media(min-width:1440px){
    .infoheader{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(112, 136, 218);
        padding:10px;
        flex-direction: row;
      }
      
      .search{
        justify-content: center;
      }
      
      .infoheader .logosearch{
        display: flex;
        padding-left:50px;
        padding-right:50px;
      }
      
      .infoheader .linksheader{
        display: flex;
        padding-left:20px;
        padding-right:20px;
      }
      
      .search-form{
        display: flex;
        flex-direction: column;
      }
    
      .info-profile{
          display: flex;
          /*background-color: rgb(114, 111, 111);*/
          width: 50vh;
          height: 300px;
          padding:10px;
          justify-content: space-between;
          margin-left: auto;
          margin-right:auto;
      }
  
  
      .info-greeting{
          height: 50px;
       width: 100%;
       padding-left: 20px;
       padding-right: 20px;
       text-align:center;
      
      }
      .info-username{
  
          background-color: rgb(255, 255, 255);
       height: 60vh;
    width:100%;
    padding:20px;
    border-radius: 10px;
    box-shadow: 0 0.0625rem 0.125rem 0 rgba(0,0,0,.15);
      }
  }
