<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/productAdd.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Carga de productos</title>
</head>
<body>

    <main>
        <div class="register-container">
            <form action="/products/create" method="POST" /*enctype="multipart/form-data"*/>
                
                    <h1>Carga de productos</h1>
                    <% if (typeof errors != "undefined") {%>
                        <% errors.forEach(function (error) {%>
                            <li class="errores"><%= error.msg%></li>
                        <% }); %>
                    <% } %>

                    <div class="text-box">
                        <i class="fas fa-angle-double-right"></i>
                        <input type="text" name="name" id="name" placeholder="Nombre del producto">
                    </div>
                    <div class="text-box">
                        <i class="fas fa-angle-double-right"></i>
                        <input type="text" name="description" id="description" placeholder="Descripcion del producto">
                    </div>

                     <div class="text-box">
                            <i class="fas fa-angle-double-right"></i>
                        <input type="text" name="price" id="price" placeholder="Precio">
                    </div>
                        <div class="text-box">
                            <i class="fas fa-angle-double-right"></i>
                        <input type="file" name="image" id="image" placeholder="Imagen" >
                    </div>
                    
                    <div class="text-box">
                        <i class="fas fa-angle-double-right"></i>
                        <input type="text" name="category_id" id="category_id" placeholder="Categoria del producto">
                    </div>

                    <div class="text-box">
                        <i class="fas fa-angle-double-right"></i>
                        <input type="text" name="color_id" id="color_id" placeholder="Color del producto">
                    </div>

                    <div class="text-box">
                        <i class="fas fa-angle-double-right"></i>
                        <input type="text" name="trademark_id" id="trademark_id" placeholder="Marca del producto">
                    </div>
            
                    <div class="btn">
                    <button type="submit">Confirmar</button>
                    </div>
            </form>
        </div>
      </main>
        
</body>
</html>