<!DOCTYPE html>
<html>
  <head>
    <title>Carrito de Compras</title>
    <link rel='stylesheet' href='/stylesheets/cart.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">  
  </head>
  <body>
    <div class="container">

   <!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

    <main>
<br>
        <section class="Carrito">
<h1>Carrito de Compras </h1>

<div class="Carrito_Compras">

  <div class="Compra">
<div class="Descripción">
  <p>Producto</p>
  <p>Envio</p>
  <p>Precio</p>
  <p>Cantidad</p>
  <p>Total</p>
</div>

  <div class="Resultado">
    <div class="nombre">
  <img src="images/interior/albalatex_interior_10.jpg" alt="producto1">
  <p>Albalatex Interior 10 Litros</p>
</div>
  <p> <a href="/Envios"> Calcular Envío</p></a>
  <p>$ 4.585,70</p>
  <input type="number" min="0" name="CantidadDeProductos">
  <p>$ 4.585,70</p>



</div>


</div>


<div class="Compra_Total">
<div class="Subtotal">
  <h2>  Subtotal</h2>
  <br>
<p>$ 4.585,70</p>
<br>
<p>Calcular costos de envío</p>
</div>
<hr>
<div class="Total">
<h2>Total</h2>
<br>
<p>$ 4.585,70</p>
</div>

</div>

</div>
</section>

<br>


    <section class="Productos_Interesar"> 

          
  

      <h3>Productos que podrían interesarte</h3>

    
    

  <br>
  <br>

  <div class="Imagenes_Interesar"> 
<img src="images/interior/enduido_pasta_interior_25kg.jpg" alt="enduido_interior">
<img src="images/interior/latex_interior_king_blanco_10.jpg" alt="latex_interior_king">
  <img src="images/interior/latex_profesional_interior_blanco_10lt.jpg" alt="latex_profesional_interior">
  </div> 
</section> 
    


<br>


          <!-- footer -->
          <%- include('partials/footer') %>
          <!-- /footer -->

</div>

</body>
</html>
