<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pintureria Broch</title>
    <link rel='stylesheet' href='/stylesheets/home.css' />
  </head>
  <body>
 
 <!-- Header -->
 <%- include('partials/header') %>
 <!-- /Header -->
 <div class="errores">
 <% if (typeof errors != "undefined") {%>
    <% errors.forEach(function (error) {%>
          <h1><%= error.msg%></h1>
    <% }); %>

 <a href='/'>Volver al Inicio</a>

<% } %>

 </div>


  </body>
  </html>