<p>
    La retrospectiva
Ya con dos sprints terminados deberían empezar a marcarse tendencias. Se conocen un poco
más entre ustedes, pudieron ver en cuáles aspectos el trabajo fluye y en cuáles no. También
debería ser más evidente quién es más hábil para el código, quién para lo estético y quién para
lo organizativo
</p>