<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pintureria Broch</title>
        <script src = '../js/gifs.js'></script>
        <link rel='stylesheet' href='/stylesheets/gifs.css' />
    </head>
    <body>
        
        <main>
        <ul>

        </ul>
    </main>
    </body>
</html>