<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pintureria Broch</title>
    <link rel='stylesheet' href='/stylesheets/home.css' />
  </head>
  <body>
    <div class="container">
        
        <header>
          <img src="/./images/logo3.jpg" width="40" alt="logo">
            <nav>
              <ul class="nav-links">
                <li> <a href="/favoritos"><i class="far fa-star"></i> Favoritos </a></li>
                <li> <a href="/cart"><i class="fas fa-shopping-cart"></i> Carrito</a> </li>
              </ul>
            </nav>
            <a href="/register"> <button>Crear cuenta</button> </a>
          </header>

    </div>

      <main>
        <section class="banner"><img src="/./images/pintureria_sin_editar.jpg" alt="banner" class="responsive"></section>


        <div class="container-aviso">
          <section>
        
            <article class="aviso1">
              <h3>Aceptamos todas las tarjetas</h3>
            </article>

            <article class="aviso2">
              <h3>Te lo enviamos en el día</h3>
            </article>

            <article class="aviso3">
              <h3>Retiro en sucursal gratis</h3>
            </article>

            <article class="aviso3">
              <h3>Retiro en sucursal gratis</h3>
            </article>
          
          </section>
        </div>

        <section class="destacadoDeLaSemana">
          <img src="/./images/destacado.jpg" alt="destacado" class="responsive">
        </section>
        <h2>Interiores</h2>
        <div class="container">
            <section>
          
              <article class="art1">
                <img src="/./images/interior/albalatex_interior_10.jpg" alt="albalatex interior 10 litros">
                <h3>Albalatex Interior 10 litros</h3>
                <br>
                <p>$4585,70</p>
              </article>

              <article class="art2">
                <img src="/./images/interior/enduido_pasta_interior_25kg.jpg" alt="enduido pasta interior 25kg">
                <h3>Enduido Pasta Interior</h3>
                <br>
                <p>$1385,27</p>
              </article>

              <article class="art3">
                <img src="/./images/interior/latex_interior_king_blanco_10.jpg" alt="latex interior king blanco 10">
                <h3>Latex interior King Black</h3>
                <br>
                <p>$2115,94</p>
              </article>

              <article class="art4">
                  <img src="/./images/interior/latex_profesional_interior_blanco_10lt.jpg" alt="latex interior blanco 10 litros">
                  <h3>Latex profesional blanco</h3>
                  <br>
                  <p>$2050,92</p>
              </article>
          
        </section> <br>
        
       // <section class="promos">
         <img src="/./images/promo.jpg" alt="promo1" >
          <img src="/./images/promo.jpg" alt="promo2">
          <img src="/./images/promo.jpg" alt="promo3">
        </section>


        <h2>Exteriores</h2>
        <div class="container">
          <section>
                
            <article class="art5">
              <img src="/./images/exterior/aguaplast_madera.jpg" alt="aguaplast madera">
              <h3>Aguaplast 1</h3>
              <br>
              <p>$273,92</p>
            </article>

            <article class="art6">
              <img src="/./images/exterior/barniplast_1_1.jpg" alt="barniplast">
              <h3>Barniplast Exterior</h3>
              <br>
                  <p>$6675,53</p>
            </article>

            <article class="art7">
              <img src="/./images/exterior/sidsgbco04_0.jpg" alt="esmalte">
              <h3>Esmalte</h3>
              <br>
              <p>$5299</p>
            </article>
            
            <article>
            <img  src="/./images/exterior/sipp1cel10_0.jpg" alt="revestimiento para piscinas">
            <h3>Revestimiento para piletas</h3>
            <br>
            <p>$2471,80</p>
            </article>
      </section> <br>

      <section class="marcas">
        <img src="/./images/marcas.jpg" alt="marcas" >
      </section> <br>

      </main>

      <footer>
        <div class="footer-contenido">
                <div class="footer-contenido-logo">
                      <img src="/./images/logo3.jpg" width="80" alt="destacado">
                        <h4>Pinturerias Broch</h4>
                </div>
             
              
                    <div class="footer-container">
                        <div class="footer-contenido">
                          <ul class="links">
                            <li><a href="">Quienes somos</a></li>
                            <li><a href="">FAQ</a></li>
                            <li><a href="">Trabajá con nosotros</a></li>
                            <li><a href="">Contacto</a></li>
                         </ul>
                        </div>
                    </div> 


                    <div class="footer-container">
                      <div class="footer-contenido">
                        <ul class="links">
                          <li><a href="">Nuestras sedes</a></li>
                          <li><a href="">Nuestros patricinadores</a></li>
                          <li><a href="">Marcas con las que trabajamos</a></li>
                          <li><a href="">Prensa</a></li>
                        </ul>
                      </div>
                    </div> 

                    <div class="footer-container">
                      <div class="footer-contenido">
                        <ul class="links">
                            <h4>Seguinos en las Redes</h4>
                            <br>
                            <li><a href="">Facebook</a></li>
                            <li><a href="">Twitter</a></li>
                            <li><a href="">Instagram</a></li>
                            <li><a href="">Pinterest</a></li>
                        </ul>
                      </div>
                    </div> 
                
                    <div class="footer-bottom">
                        <div class="footer-bottom-contenido">
                            <p>Todos los derechos reservados.
                            Copyright 2020</p>
                        </div>
                   </div>
      </footer>

    </div>
    
  </body>
</html>
