<!DOCTYPE html>
<html>
  <head>
    <title>Pitureria Broch</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">

    <header>
      
      <img src="" alt="logo"> 
      <div class="buscador">Buscador</div>
       <div class="fav">Fav</div> 
       <div class="carrito">Crr</div>
        <div class="ingreso">ing</div>

      <ul>
        <li>cat1</li>
        <li>cat2</li>
        <li>cat3</li>
        <li>cat4</li>
        <li>cat5</li>
      </ul>
      
      </header>

      <main>
        <section><div class="banner"><img src="" alt="banner"> </div></section>

        <section>
          <ul>
            <li>info1</li>
            <li>info2</li>
            <li>info3</li>
            <li>info4</li>
          </ul>
        </section>

        <section class="destacadoDeLaSemana">
          <img src="" alt="destacado">
        </section>

        <section class="interioresCarrusel">
          
          <h3>Interiores</h3>
          
            <div>i</div>
            <div>n</div>
            <div>t</div>
            <div>e</div>
            <div>r</div>
          
        </section> <br>
        
        <section class="promos">
          <article><img src="" alt="promo1"></article>
          <article><img src="" alt="promo2"></article>
          <article><img src="" alt="promo3"></article>
        </section>

        <section class="exterioresCarrusel">
          
          <h3>Exteriores</h3>

          <div>e</div>
          <div>x</div>
          <div>t</div>
          <div>e</div>
          <div>r</div>
        
      </section> <br>

      <section class="marcas">
        <img src="" alt="marcas">
      </section> <br>

      </main>

      <footer>
        <div class="pie">
        <article>info</article>
        <article>contacto</article>
        <article>redesSociales</article>
        <article>afip</article>
          
        <div><p>copyright</p></div>

        </div>
      </footer>

    </div>
    
  </body>
</html>
