<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pintureria Broch</title>
    <link rel='stylesheet' href='/stylesheets/home.css' />
  </head>
  <body>
    <div class="container">

      <header>
        
        <div class="header-container">
  
            <img src="/./images/logo3.jpg" width="40" alt="logo"> 
            <div class="buscador"><input type="search" id="site-search" name="search"><button>search</button></div>
            <div class="fav">Favoritos</div> 
            <div class="carrito">Carrito</div>
            <div class="ingreso"><a href="/login">Ingresá a tu cuenta</a></div>
  
        </div>
      
       <ul class="nav-bar">
        <li><a href="">|Interiores|</a></li>
        <li><a href="">|Exteriores|</a></li>
        <li><a href="">|Revestimientos|</a></li>
        <li><a href="">|Esmaltes|</a></li>
       </ul>
      </header>
    </div>

      <main>
        <section class="banner"><img src="/./images/pintureria.jpg" widht="1050" alt="banner"></section>

          <nav class="info">
          <ul>
            <li>Aceptamos todas las tarjetas</li>
            <li>Te lo enviamos en el día</li>
            <li>info3</li>
            <li>25% de desc con Mercado Liebre</li>
          </ul>
          </nav>

        <section class="destacadoDeLaSemana">
          <img src="/./images/logo3.jpg" alt="destacado">
        </section>
        <h2>Interiores</h2>
        <div class="container">
            <section>
          
              <article class="art1">
                <img src="/./images/interior/albalatex_interior_10.jpg" alt="albalatex interior 10 litros">
                <h3>Albalatex Interior 10 litros</h3>
                <p>Probando</p>
              </article>

              <article class="art2">
                <img src="/./images/interior/enduido_pasta_interior_25kg.jpg" alt="enduido pasta interior 25kg">
                <h3>Enduido Pasta Interior</h3>
                <p>Probando</p>
              </article>

              <article class="art3">
                <img src="/./images/interior/latex_interior_king_blanco_10.jpg" alt="latex interior king blanco 10">
                <h3>Latex interior King Black</h3>
                <p>Probando</p>
              </article>

              <article class="art4">
                  <img src="/./images/interior/latex_profesional_interior_blanco_10lt.jpg" alt="latex interior blanco 10 litros">
                  <h3>Latex profesional blanco</h3>
                  <p>Probando</p>
              </article>
          
        </section> <br>
        
        <section class="promos">
          <article><img src="" alt="promo1"></article>
          <article><img src="" alt="promo2"></article>
          <article><img src="" alt="promo3"></article>
        </section>


        <h2>Exteriores</h2>
        <div class="container">
          <section>
                
            <article class="art5">
              <img src="/./images/exterior/aguaplast_madera.jpg" alt="aguaplast madera">
              <h3>Aguaplast 1</h3>
                <p>Probando</p>
            </article>

            <article class="art6">
              <img src="/./images/exterior/barniplast_1_1.jpg" alt="barniplast">
              <h3>Barniplast Exterior</h3>
                <p>Probando</p>
            </article>

            <article class="art7">
              <img src="/./images/exterior/sidsgbco04_0.jpg" alt="esmalte">
              <h3>Esmalte</h3>
                <p>Probando</p>
            </article>
            
            <article>
            <img  src="/./images/exterior/sipp1cel10_0.jpg" alt="revestimiento para piscinas">
            <h3>Revestimiento para piletasLatex interior King Black</h3>
                <p>Probando</p>
            </article>
      </section> <br>

      <section class="marcas">
        <img src="" alt="marcas">
      </section> <br>

      </main>

      <footer>
        <div class="footer-contenido">
          <div class="footer-contenido-logo">
            <img src="/./images/logo3.jpg" width="80" alt="destacado">
            <h4>Pinturerias Broch</h4>
          </div>
             
              
                  <div class="footer-container">
                    <div class="footer-contenido">
                        <ul class="links">
                        <li><p>Quienes somos</p></li>
                        <li><p>Hacia donde vamos</p></li>
                        <li><p>Que queremos</p></li>
                        <li><p>Está para una cerveza</p></li>
                        <li><p>No me gusta</p></li>
                        </ul>
                    </div>
                   </div> 


                   <div class="footer-container">
                    <div class="footer-contenido">
                        <ul class="links">
                        <li><p>sumbutrule</p></li>
                        <li><p>Miami</p></li>
                        <li><p>Basta chicos</p></li>
                        <li><p>Sale vinito</p></li>
                        <li><p>Bip bip Richie</p></li>
                        </ul>
                    </div>
                   </div> 

                   <div class="footer-container">
                    <div class="footer-contenido">
                        <ul class="links">
                          <h4>Seguinos en las Redes</h4>
                          <br>
                        <li><a href="">Facebook</a></li>
                        <li><a href="">Twitter</a></li>
                        <li><a href="">Instagram</a></li>
                        </ul>
                    </div>
                   </div> 
          </div>
          <div class="footer-bottom">
            <div class="footer-bottom-contenido">
              <p>Todos los derechos reservados.
                 Copyright 2020</p>
      </footer>

    </div>
    
  </body>
</html>
