<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pintureria Broch</title>
    <link rel='stylesheet' href='/stylesheets/home.css' />
  </head>
  <body>
   
    <div class="container">
      
    <% if (typeof errors != "undefined") {%>
      <% errors.forEach(function (error) {%>
            <div class="Logueo"><%= error.msg%></div>
      <% }); %>
  <% } %>
         <!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

    </div>

      <main>

        <section class="banner"><img src="/./images/pintureria_sin_editar.jpg" alt="banner" class="responsive"></section>
        <div class="container-item">
          <section>
            <article class="items">
              <div class= "item-column-info"> 
                      <img src="/./images/logo3.jpg" width="40">
                      <div class= "item-column-info-title"> 
                      <div class ="item-column-info-top">Todas las tarjetas</div>
                      <a class ="item-column-info-bottom">Medios de pago</a>
                      </div>
              </div>
            </article>
            <article class="items">
             <div class= "item-column-info"> 
                      <img src="/./images/logo3.jpg" width="40">
                      <div class= "item-column-info-title"> 
                      <div class ="item-column-info-top">Retiralo gratis</div>
                      <a class ="item-column-info-bottom">Sucursales</a>
                      </div>
              </div>
            </article>
            <article class="items">
             <div class= "item-column-info"> 
                      <img src="/./images/logo3.jpg" width="40">
                      <div class= "item-column-info-title"> 
                      <div class ="item-column-info-top">Envíos en el día</div>
                      <a class ="item-column-info-bottom">Antes de las 12 hs</a>
                      </div>
              </div>
            </article>
            <article class="items">
              <div class= "item-column-info"> 
                      <img src="/./images/logo3.jpg" width="40">
                      <div class= "item-column-info-title"> 
                      <div class ="item-column-info-top">Atención</div>
                      <a class ="item-column-info-bottom">de 8hs a 18 hs</a>
                      </div>
              </div>
            </article>      
        </div>


      <div class="categoria-pintureria">
       <h3>Los mas Pedidos de Pintureria</h3> 
       <a href="/products/categoria/pintureria" class="linkcategoria">Ver todos</a>
      </div>
     <div class="lotarticles">

      
       <div class="articulos">
     
         <div class="info-articulos">
                 <div class="imagen-articulo">
                     <img class="imageart" src="/images/image-1615340559797.jpg">
                 </div>
                 <hr>
                 <div class="infoart">
                     <div class="infoart-name">
                         <a href="/products/27">
                             Recubrimiento Especial Pisos Rojo 4 Lts Sherw</a>
     
                     </div>
                     <hr>
                     <div class="infoart-price">
                         <div class="preciodelista">
                             Precio de lista $ 5340.7515 
                         </div>
                        
     
                         <div class="preciooferta">
                             Oferta : $ 5086.43
                         </div>
     
                     </div>
                     
                 
                     
                 </div>
         </div>
         
            
     </div>
 
 
     <div class="articulos">
     
       <div class="info-articulos">
               <div class="imagen-articulo">
                   <img class="imageart" src="/images/image-1615339902381.jpg">
               </div>
               <hr>
               <div class="infoart">
                   <div class="infoart-name">
                       <a href="/products/23">
                           Latex Interior Tersen Mate Blanco 20 Lts Ters</a>
   
                   </div>
                   <hr>
                   <div class="infoart-price">
                       <div class="preciodelista">
                           Precio de lista $ 10300.3215 
                       </div>
                      
   
                       <div class="preciooferta">
                           Oferta : $ 9809.83
                       </div>
   
                   </div>
                   
               
                   
               </div>
       </div>
       
          
   </div>
 
 
 
       <div class="articulos">
     
         <div class="info-articulos">
                 <div class="imagen-articulo">
                     <img class="imageart" src="/images/image-1615340474852.jpg">
                 </div>
                 <hr>
                 <div class="infoart">
                     <div class="infoart-name">
                         <a href="/products/25">
                             Latex Profesional Interior Sherwin Williams X</a>
     
                     </div>
                     <hr>
                     <div class="infoart-price">
                         <div class="preciodelista">
                             Precio de lista $ 7841.7465 
                         </div>
                        
     
                         <div class="preciooferta">
                             Oferta : $ 7468.33
                         </div>
     
                     </div>
                     
                 
                     
                 </div>
         </div>
         
            
     </div>
 
 
 
       <div class="articulos">
     
         <div class="info-articulos">
                 <div class="imagen-articulo">
                     <img class="imageart" src="/images/image-1615339079225.jpg">
                 </div>
                 <hr>
                 <div class="infoart">
                     <div class="infoart-name">
                         <a href="/products/16">
                             Entonador para Pintura Tonalba 120 Cm X 3 Uni</a>
     
                     </div>
                     <hr>
                     <div class="infoart-price">
                         <div class="preciodelista">
                             Precio de lista $ 760.9770000000001 
                         </div>
                        
     
                         <div class="preciooferta">
                             Oferta : $ 724.74
                         </div>
     
                     </div>
                     
                 
                     
                 </div>
               </div>
         
            
            </div>
 
           

   </div>  



      <div class="categoria-pintureria">
        <h3>Los mas Pedidos de Herramientas</h3>
       <a href="/products/categoria/herramientas" class="linkcategoria">Ver todos</a>
      </div>

      <div class="lotarticles">

      <div class="articulos">
    
        <div class="info-articulos">
                <div class="imagen-articulo">
                    <img class="imageart" src="/images/image-1615334841748.jpg" >
                </div>
                <hr>
                <div class="infoart">
                    <div class="infoart-name">
                        <a href="/products/1">
                            Amoladora Angular Dewalt 180mm 7&#34; 2400w Dwe45</a>
    
                    </div>
                    <hr>
                    <div class="infoart-price">
                        <div class="preciodelista">
                            Precio de lista $ 43070.58 
                        </div>
                       
    
                        <div class="preciooferta">
                            Oferta : $ 41019.6
                        </div>
    
                    </div>
                    
                
                    
                </div>
        </div>
        
           
    </div>
    
    <div class="articulos">
        
        <div class="info-articulos">
                <div class="imagen-articulo">
                    <img class="imageart" src="/images/image-1615336255119.jpg">
                </div>
                <hr>
                <div class="infoart">
                    <div class="infoart-name">
                        <a href="/products/2">
                            Amoladora Angular 125 mm 1010w Lusqtoff</a>
    
                    </div>
                    <hr>
                    <div class="infoart-price">
                        <div class="preciodelista">
                            Precio de lista $ 1235.0625 
                        </div>
                       
    
                        <div class="preciooferta">
                            Oferta : $ 1176.25
                        </div>
    
                    </div>
                    
                
                    
                </div>
        </div>
        
           
    </div>
    
    <div class="articulos">
        
        <div class="info-articulos">
                <div class="imagen-articulo">
                    <img class="imageart" src="/images/image-1615336450915.jpg">
                </div>
                <hr>
                <div class="infoart">
                    <div class="infoart-name">
                        <a href="/products/3">
                            Hidrolavadora Lusqtoff 105 bar 1200w Con Auto</a>
    
                    </div>
                    <hr>
                    <div class="infoart-price">
                        <div class="preciodelista">
                            Precio de lista $ 9624.709499999999 
                        </div>
                       
    
                        <div class="preciooferta">
                            Oferta : $ 9166.39
                        </div>
    
                    </div>
                    
                
                    
                </div>
        </div>
        
           
    </div>
    
    <div class="articulos">
        
        <div class="info-articulos">
                <div class="imagen-articulo">
                    <img class="imageart" src="/images/image-1615336643226.jpg">
                </div>
                <hr>
                <div class="infoart">
                    <div class="infoart-name">
                        <a href="/products/4">
                            Lijadora De Banda Skil 7640 900w + Accesorios</a>
    
                    </div>
                    <hr>
                    <div class="infoart-price">
                        <div class="preciodelista">
                            Precio de lista $ 16124.010000000002 
                        </div>
                       
    
                        <div class="preciooferta">
                            Oferta : $ 15356.2
                        </div>
    
                    </div>
                    
                
                    
                </div>
        </div>
        
           
    </div>
    
    
      </div>



<div class="categoria-pintureria">
     <h3>Los mas Pedidos de Accesorios</h3> 
     <a href="/products/categoria/accesorios" class="linkcategoria">Ver todos</a>
    </div>


  <div class="lotarticles">
      <div class="articulos">
    
        <div class="info-articulos">
                <div class="imagen-articulo">
                    <img class="imageart" src="/images/image-1615337803911.jpg">
                </div>
                <hr>
                <div class="infoart">
                    <div class="infoart-name">
                        <a href="/products/9">
                            Escalera Pintor Reforzada Madera 8 Escalones</a>
    
                    </div>
                    <hr>
                    <div class="infoart-price">
                        <div class="preciodelista">
                            Precio de lista $ 6409.6725 
                        </div>
                       
    
                        <div class="preciooferta">
                            Oferta : $ 6104.45
                        </div>
    
                    </div>
                    
                
                    
                </div>
        </div>
        
           
    </div>
    
    <div class="articulos">
        
        <div class="info-articulos">
                <div class="imagen-articulo">
                    <img class="imageart" src="/images/image-1615337893263.jpg">
                </div>
                <hr>
                <div class="infoart">
                    <div class="infoart-name">
                        <a href="/products/10">
                            Escalera Pintor Reforzada Madera 7 Escalones</a>
    
                    </div>
                    <hr>
                    <div class="infoart-price">
                        <div class="preciodelista">
                            Precio de lista $ 5611.7565 
                        </div>
                       
    
                        <div class="preciooferta">
                            Oferta : $ 5344.53
                        </div>
    
                    </div>
                    
                
                    
                </div>
        </div>
        
           
    </div>
    
    <div class="articulos">
        
        <div class="info-articulos">
                <div class="imagen-articulo">
                    <img class="imageart" src="/images/image-1615338116261.jpg">
                </div>
                <hr>
                <div class="infoart">
                    <div class="infoart-name">
                        <a href="/products/11">
                            Sellador Multiuso Blanco Plavicon 1 Kg</a>
    
                    </div>
                    <hr>
                    <div class="infoart-price">
                        <div class="preciodelista">
                            Precio de lista $ 1099.6335000000001 
                        </div>
                       
    
                        <div class="preciooferta">
                            Oferta : $ 1047.27
                        </div>
    
                    </div>
                    
                
                    
                </div>
        </div>
        
           
    </div>
    
    <div class="articulos">
        
        <div class="info-articulos">
                <div class="imagen-articulo">
                    <img class="imageart" src="/images/image-1615338208480.jpg">
                </div>
                <hr>
                <div class="infoart">
                    <div class="infoart-name">
                        <a href="/products/12">
                            Sellador Multiuso Blanco Plavicon 5 Kg</a>
    
                    </div>
                    <hr>
                    <div class="infoart-price">
                        <div class="preciodelista">
                            Precio de lista $ 4711.077 
                        </div>
                       
    
                        <div class="preciooferta">
                            Oferta : $ 4486.74
                        </div>
    
                    </div>
                    
                
                    
                </div>
        </div>
        
           
    </div>
    
 </div>















    




      </main>

            <!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->

    </div>
    
  </body>
</html>
