<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/home.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <title>Ingresar</title>
</head>
<body>
    <div class="container">
      <header>
        
        <div class="header-container">
  
            <img src="/./images/logo3.jpg" width="40" alt="logo"> 
            <div class="buscador"><input type="search" id="site-search" name="search"><button>search</button></div>
            <div class="fav">Favoritos</div> 
            <div class="carrito">Carrito</div>
            <div class="ingreso"><a href="/login">Ingresá a tu cuenta</a></div>
  
        </div>
      
       <ul class="nav-bar">
        <li><a href="">|Interiores|</a></li>
        <li><a href="">|Exteriores|</a></li>
        <li><a href="">|Revestimientos|</a></li>
        <li><a href="">|Esmaltes|</a></li>
       </ul>
      </header>
    </div>

    </header>
    <main>
        <div class="login-container"></div>
            <form action="/" method="GET"></form>
                <div class="login-content">
                    <h1>Ingresar a tu cuenta</h1>
                    <br>
                    <h3>Ingresa tu email y tu contraseña para iniciar sesión</h3>
                        <div class="email-required">
                        <span>Correo electrónico*</span>
                    <input type="text" name="username" id="username" placeholder="username">
                    </div>

                    <div class="password-required">
                    <label>Contraseña:</label>
                    <input type="password" name="password" id="password" placeholder="password">
                     </div>

                    <div class="btn">
                    <button type="submit">Sign in</button>
                    </div>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <div class="footer-contenido">
          <div class="footer-contenido-logo">
            <img src="/./images/logo3.jpg" width="80" alt="destacado">
            <h4>Pinturerias Broch</h4>
          </div>
             
              
                  <div class="footer-container">
                    <div class="footer-contenido">
                        <ul class="links">
                        <li><p>Quienes somos</p></li>
                        <li><p>Hacia donde vamos</p></li>
                        <li><p>Que queremos</p></li>
                        <li><p>Está para una cerveza</p></li>
                        <li><p>No me gusta</p></li>
                        </ul>
                    </div>
                   </div> 


                   <div class="footer-container">
                    <div class="footer-contenido">
                        <ul class="links">
                        <li><p>sumbutrule</p></li>
                        <li><p>Miami</p></li>
                        <li><p>Basta chicos</p></li>
                        <li><p>Sale vinito</p></li>
                        <li><p>Bip bip Richie</p></li>
                        </ul>
                    </div>
                   </div> 

                   <div class="footer-container">
                    <div class="footer-contenido">
                        <ul class="links">
                          <h4>Seguinos en las Redes</h4>
                          <br>
                        <li><a href="">Facebook</a></li>
                        <li><a href="">Twitter</a></li>
                        <li><a href="">Instagram</a></li>
                        </ul>
                    </div>
                   </div> 
          </div>
          <div class="footer-bottom">
            <div class="footer-bottom-contenido">
              <p>Todos los derechos reservados.
                 Copyright 2020</p>
</body>
</html>