<!DOCTYPE html>
<html>
  <head>
    <title>Pintureria Broch</title>
    <link rel='stylesheet' href='/stylesheets/productDetail.css' />
  </head>
  <body>
    <div class="container">

    <header>
      
      <div class="header-container">

      <img src="/images/logo3.jpg" alt="logo"> 
      <div class="buscador"><input type="search" id="site-search" name="search"><button>search</button></div>
       <div class="fav">Favoritos</div> 
       <div class="carrito">Carrito</div>
        <div class="ingreso"><a href="/login">Ingresá a tu cuenta</a></div>

        </div>

        
      <ul class="nav-bar">
        <li><a href="">|Interiores|</a></li>
        <li><a href="">|Exteriores|</a></li>
        <li><a href="">|Revestimientos|</a></li>
        <li><a href="">|Esmaltes|</a></li>
      </ul>
      </header>

      <main>
        <div class="principal">
          <section class="Producto"> 
            <img src="images/interior/albalatex_interior_10.jpg" alt="500px">
            <h3>Albalatex Interior 10 lts</h3>
            <h5>Código: ALMB0BCO10</h5>
  
          </section>

          <section class="Información">
        

          </section>

          <section class="Acciones">
        <p> <a href="/cart">Agregar al carrito</a> </p>

          </section>
        <section class="Descripción-Producto">
          <p>
            Es el látex acrílico de primer nivel para interiores. Ningún color se mantiene tan fresco como el primer día, durante tanto tiempo.
          </p>
  
          <ul> 
            <li>Excelente terminación</li>
            <li>Fácil aplicación</li>
            <li>Lavable</li>
            <li>Antihongos</li>
          </ul>
        </section>
        </div>

        <div class="secundario">

        </div>

       


      </main>

      <footer>
        <div class="footer-contenido">
        <article>info</article>
        <article>contacto</article>
        <article>redesSociales</article>
        <article>afip</article>
      </div>
        <div class="footer-bottom">
            <p>Todos los derechos reservados. Copyright 2020</p>
        </div>
      </footer>

    </div>
    
  </body>
</html>
