<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/productAdd.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Ingreso de productos</title>
</head>
<body>

    <main>
        <div class="register-container">
            <form action="/" method="GET">
                
                    <h1>Ingreso de productos</h1>
                    <div class="text-box">
                        <i class="fas fa-angle-double-right"></i>
                        <input type="text" name="nombreProducto" id="nombreProducto" placeholder="Nombre del producto">
                    </div>
                        <div class="text-box">
                            <i class="fas fa-angle-double-right"></i>
                        <input type="text" name="categoríaProducto" id="categoríaProducto" placeholder="Categoría">
                    </div>
                        <div class="text-box">
                            <i class="fas fa-angle-double-right"></i>
                        <input type="number" name="cantidadProducto" id="cantidadProducto" placeholder="Cantidad">
                   
                    </div>
                    <div class="text-box">
                        <i class="fas fa-angle-double-right"></i>
                        <input type="color" name="colorProducto" id="colorProducto" placeholder="Color">
                    </div>
                    
                     

                    <div class="btn">
                    <button type="submit">Confirmar</button>
                    </div>
            </form>
        </div>
      </main>
        
</body>
</html>