<!DOCTYPE html>
<html>
  <head>
    <title>Pintureria Broch</title>
    <link rel='stylesheet' href='/stylesheets/productDetail.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">  
  </head>
  <body>
    <div class="container">

    <header>
      
      <div class="header-container">

        <img src="/images/logo3.jpg" alt="logo"> 

      <div class="buscador"><input type="search" id="site-search" name="search"><button>search</button></div>
       <div class="fav"> <a href="/favoritos"><i class="far fa-star"></i> Favoritos </a></div> 
       <div class="carrito"> <a href="/cart"><i class="fas fa-shopping-cart"></i> Carrito</a> </div>
        <div class="ingreso"><a href="/login"><i class="far fa-sign-in-alt"></i> Ingresá a tu cuenta</a></div>

        </div>

        
      <ul class="nav-bar">
        <li><a href="">|Interiores|</a></li>
        <li><a href="">|Exteriores|</a></li>
        <li><a href="">|Revestimientos|</a></li>
        <li><a href="">|Esmaltes|</a></li>
      </ul>
      </header>

      <main>
        <br>

        <div class="principal">
        <section class="tipoProducto">
           <p> Paleta de Colores / Variedad</p> 
        </section>

        
          <section class="Producto">
            <h3>Albalatex Interior 10 lts</h3> 
            <h6>Código: ALMB0BCO10</h6>
            <img src="images/interior/albalatex_interior_10.jpg" alt="500px">
            
  
          </section>

          <section class="Información">
        <article>Precio </article>
        <br>
        <br>
        <article>Cantidad </article>
        <br>
        <br>
        <article>Promo </article>
        <br>
        <br>

          </section>

      </div>

        <div class="secundario">

          <section class="Acciones">
            <p> <a href="/cart"> <i class="fas fa-shopping-cart"></i> Agregar al carrito</a> </p>
            <p> <a href="/payment"><i class="fas fa-credit-card"></i> Medios de Pago</a> </p>
            <p> <a href="/shipping"><i class="fas fa-shipping-fast"></i> Calcular envío</a> </p>
          </section>
          <hr>

        <section class="Descripción-Producto">
          <h3>Descripción del producto </h3>
          <br>
          <p>
            Es el látex acrílico de primer nivel para interiores. Ningún color se mantiene tan fresco como el primer día, durante tanto tiempo.
          </p>
  <br>
          <ul> 
            <li>Excelente terminación</li>
            <li>Fácil aplicación</li>
            <li>Lavable</li>
            <li>Antihongos</li>
          </ul>
        </section> 

        </div>

       <div class="terciario">

        <section class="PromoImportante"> <img src="/./images/promoImportante.jpg" alt="promoImportante"> </section>

        <section class="Productos-Interesar"> Productos que podrían interesarte </section>

        <br>
        <br>

        <section class="Imagenes-Interesar"> 
        <img src="images/interior/enduido_pasta_interior_25kg.jpg" alt="enduido_interior">
        <img src="images/interior/latex_interior_king_blanco_10.jpg" alt="latex_interior_king">
        <img src="images/interior/latex_profesional_interior_blanco_10lt.jpg" alt="late_profesional_interior">
      </section> 
      </div>


      </main>
      <footer>
        <div class="footer-contenido">
          <div class="footer-contenido-logo">
            <img src="/./images/logo3.jpg" width="80" alt="destacado">
            <h4>Pinturerias Broch</h4>
          </div>
             
              
                  <div class="footer-container">
                    <div class="footer-contenido">
                        <ul class="links">
                        <li><p>Quienes somos</p></li>
                        <li><p>Hacia donde vamos</p></li>
                        <li><p>Que queremos</p></li>
                        <li><p>Está para una cerveza</p></li>
                        <li><p>No me gusta</p></li>
                        </ul>
                    </div>
                   </div> 


                   <div class="footer-container">
                    <div class="footer-contenido">
                        <ul class="links">
                        <li><p>sumbutrule</p></li>
                        <li><p>Miami</p></li>
                        <li><p>Basta chicos</p></li>
                        <li><p>Sale vinito</p></li>
                        <li><p>Bip bip Richie</p></li>
                        </ul>
                    </div>
                   </div> 

                   <div class="footer-container">
                    <div class="footer-contenido">
                        <ul class="links">
                          <h4>Seguinos en las Redes</h4>
                          <br>
                        <li><a href="">Facebook</a></li>
                        <li><a href="">Twitter</a></li>
                        <li><a href="">Instagram</a></li>
                        </ul>
                    </div>
                   </div> 
          </div>
          <div class="footer-bottom">
            <div class="footer-bottom-contenido">
              <p>Todos los derechos reservados.
                 Copyright 2020</p>
      </footer>


    </div>
    
  </body>
</html>
