<!DOCTYPE html>
<html>
  <head>
    <title>Detalle de Producto</title>
    <link rel='stylesheet' href='/stylesheets/productDetail.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">  

  </head>
  <body>
    <div class="container">

    <header>
      
      <div class="header-container">

        <img src="/images/logo3.jpg" alt="logo"> 

      <p class="buscador"><input type="search" id="site-search" name="search"><button>search</button></p>
       <p class="fav"> <a href="/favoritos"><i class="far fa-star"></i> Favoritos </a></p> 
       <p class="carrito"> <a href="/cart"><i class="fas fa-shopping-cart"></i> Carrito</a> </p>
        <p class="ingreso"><a href="/login"><i class="far fa-sign-in-alt"></i> Ingresá a tu cuenta</a></p>

        </div>

        
      <ul class="nav-bar">
        <li><a href="">|Interiores|</a></li>
        <li><a href="">|Exteriores|</a></li>
        <li><a href="">|Revestimientos|</a></li>
        <li><a href="">|Esmaltes|</a></li>
      </ul>
      </header>

      <main>
        <br>

        <div class="principal">
        
          <section class="Producto">
            <h1>Albalatex Interior 10 lts</h1> 
            <h6>- Código: ALMB0BCO10 -</h6>
            <img src="images/interior/albalatex_interior_10.jpg" alt="500px">
            
  
          </section>

          <section class="Información">
            <div class="Color">
        <h3> Colores disponibles</h3>
        <br>
        <div class="Colores_Disponibles">

            <article class="uno"><i class="fas fa-brush"></i> </article>
            <article class="dos"><i class="fas fa-brush"></i> </article>
            <article class="tres"> <i class="fas fa-brush"></i></article>
            <article class="cuatro"> <i class="fas fa-brush"></i></article>
      </div>
    </div>


<br>
<br>
        <article class="Precio"> $ 4.585,70 </article>
        <br>
        <br>
        <article> 10 Litros </article>
        <br>
        <br>
        <article class="Promo"> Con la compra de 2 unidades, 10% OFF  </article>
        <br>
        <br>

        <div class="Retiro_Gratis">
            
          <a href="/donde-estamos">
            
         <h3>¡RETIRO GRATIS EN SUCURSALES!</h3> 
         <br>
         <p><i class="fas fa-store-alt"></i> Ver Sucursales disponibles</p>
          </a>
        </div>

          </section>

          <section class="Acciones">
<div class="Carrito">

 <input type="number" min="0" name="CantidadDeProductos">
 <p class="Boton"> <a href="/cart">  <i class="fas fa-shopping-cart"></i> Agregar al carrito </a> </p> 
</div>
          <br>
          <br>

          <div class="Pago_Extra">
            <p class="Pagos"> <a href="/payment"> <i class="fas fa-credit-card"></i> </a> <a href="/payment"> Medios de Pago </a> </p>
            <br>
            <br>
             <p class="Envíos"> <a href="/shipping"><i class="fas fa-shipping-fast"></i> </a> <a href="/shipping"> Calcular envío </a> </p>

          </div>

          
            
          </section>

        </div>
        <div class="secundario">


        <section class="Descripción-Producto">
          <h3>Descripción del producto </h3>
          <br>
          <p>
            Es el látex acrílico de primer nivel para interiores. Ningún color se mantiene tan fresco como el primer día, durante tanto tiempo.
          </p>
  <br>
          <ul> 
            <li>Excelente terminación</li>
            <li>Fácil aplicación</li>
            <li>Lavable</li>
            <li>Antihongos</li>
          </ul>
        </section> 

        </div>

       <div class="terciario">

        <section class="PromoImportante"> <img src="/./images/promoImportante.jpg" alt="promoImportante"> </section>

        <section class="Productos-Interesar"> Productos que podrían interesarte </section>

        <br>
        <br>

        <section class="Imagenes-Interesar"> 
        <img src="images/interior/enduido_pasta_interior_25kg.jpg" alt="enduido_interior">
        <img src="images/interior/latex_interior_king_blanco_10.jpg" alt="latex_interior_king">
        <img src="images/interior/latex_profesional_interior_blanco_10lt.jpg" alt="late_profesional_interior">
      </section> 
      </div>


      </main>
      <footer>
        <div class="footer-contenido">
          <div class="footer-contenido-logo">
            <img src="/./images/logo3.jpg" width="80" alt="destacado">
            <h4>Pinturerias Broch</h4>
          </div>
             
              
                  <div class="footer-container">
                    <div class="footer-contenido">
                        <ul class="links">
                        <li><p>Quienes somos</p></li>
                        <li><p>Hacia donde vamos</p></li>
                        <li><p>Que queremos</p></li>
                        <li><p>Está para una cerveza</p></li>
                        <li><p>No me gusta</p></li>
                        </ul>
                    </div>
                   </div> 


                   <div class="footer-container">
                    <div class="footer-contenido">
                        <ul class="links">
                        <li><p>sumbutrule</p></li>
                        <li><p>Miami</p></li>
                        <li><p>Basta chicos</p></li>
                        <li><p>Sale vinito</p></li>
                        <li><p>Bip bip Richie</p></li>
                        </ul>
                    </div>
                   </div> 

                   <div class="footer-container">
                    <div class="footer-contenido">
                        <ul class="links">
                          <h4>Seguinos en las Redes</h4>
                          <br>
                        <li><a href="">Facebook</a></li>
                        <li><a href="">Twitter</a></li>
                        <li><a href="">Instagram</a></li>
                        </ul>
                    </div>
                   </div> 
          </div>
          <div class="footer-bottom">
            <div class="footer-bottom-contenido">
              <p>Todos los derechos reservados.
                 Copyright 2020</p>
      </footer>


    </div>
    
  </body>
</html>
