<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/login.css">

    <title>Listado de usuarios</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">  
  
</head>
<body>
  
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>Listado de Usuarios</h1>
       
    <ul>
        <% for(let i=0; i < users.length ; i++){ %>
        <li>
          <a href="/users/<%=users[i].id %>">  <%= users[i].username %> <%= users[i].email %></a>
          

        </li>
        <% } %>
    </ul>


</body>
</html>