<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Editar tu cuenta</title>
</head>
<body>
   
          <!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->
    <main>
        <div class="register-container">
            <form method="POST"  action="/users/edit?_method=PUT">
                
                    <h1>Cambiar tu nombre</h1>
                    <div class="text-box">
                      <i class="fas fa-user"></i>
                        <input type="text" name="fullName" id="fullName" placeholder="Full Name" value = "<%= userToEdit.name%>">
                    </div>

                    <div class="btn">
                    <input type="submit" value="Editar">
                    </div>
            </form>
        </div>
      </main>
    <footer>
     </footer>
</body>
</html>