<footer>
    <div class="footer-contenido">
            <div class="footer-contenido-logo">
                  <img src="/./images/logo3.jpg" width="80" alt="destacado">
                    <h4>Pinturerias Broch</h4>
            </div>
         
          
                <div class="footer-container">
                    <div class="footer-contenido">
                      <ul class="links">
                        <li><a href="/gifs">GIFS</a></li>
                        <li><a href="">Quienes somos</a></li>
                        <li><a href="">Trabajá con nosotros</a></li>
                        <li><a href="">Contacto</a></li>
                     </ul>
                    </div>
                </div> 


                <div class="footer-container">
                  <div class="footer-contenido">
                    <ul class="links">
                      <li><a href="">Nuestras sedes</a></li>
                      <li><a href="">Nuestros patricinadores</a></li>
                      <li><a href="">Marcas con las que trabajamos</a></li>
                      <li><a href="">Prensa</a></li>
                    </ul>
                  </div>
                </div> 

                <div class="footer-container">
                  <div class="footer-contenido">
                    <ul class="links">
                        <h4>Seguinos en las Redes</h4>
                        <br>
                        <li><a href="">Facebook</a></li>
                        <li><a href="">Twitter</a></li>
                        <li><a href="">Instagram</a></li>
                        <li><a href="">Pinterest</a></li>
                    </ul>
                  </div>
                </div> 
            
                <div class="footer-bottom">
                    <div class="footer-bottom-contenido">
                        <p>Todos los derechos reservados.
                        Copyright 2020</p>
                    </div>
               </div>
  </footer>