<header>

    <div class="infoheader">



      


        <div class="logosearch">
            <div class="logocontainer">

              <a href ='/'><img src="/./images/logo3.jpg" width="40" alt="logo"> </a>
            </div>

            <div class="search">
                  <form action="/search" class="search-form">
                    <input type="search" name="term" placeholder="Busca lo que querés" class="buscador">
                    <input type="submit" value="Buscar" class="buttonsearch">
                  </form>
                </div>

      </div>

    <div

                <ul>
                  <a href="/products/categoria/pintureria">Pintureria</a>
                  <a href="/products/categoria/accesorios">Accesorios</a>
                  <a href="/products/categoria/herramientas">Herramientas</a>
                  <a href="/products/categoria/revestimientos">Revestimientos</a>
                </ul>










      </div>



      
      
      <div class="linksheader">
        <div class="link-carrito">

              <nav>
                <ul class="nav-links">
                  <a href="/carts"></i><button>Carrito</button></a>
                  <a href="/users/1"></i><button>Perfil</button></a>
                      </ul>
              </nav>

        </div>    
          <div class="link-login">
            <a href="/users/login"> <button>Ingresar</button> </a>

          </div>

  </div>
</div>
</header>


       
