<header>
    <img src="/./images/logo3.jpg" width="40" alt="logo">
    <section id="search" class="search-wrap">
      <form action="/search" class="search-form">
        <i class="fas fa-search"></i>
        <input type="search" name="term" placeholder="Busca llo que querés">
        <input type="submit" value="Search">
      </form>
    </section>
      <nav>
        <ul class="nav-links">
          <li> <a href="/favoritos"><i class="far fa-star"></i>Favoritos </a></li>
          <li> <a href="/cart"><i class="fas fa-shopping-cart"></i>Carrito </a> </li>
        </ul>
      </nav>
        <a href="/users/login"> <button>Ingresar</button> </a>
    </header>
