<header>

    <div class="infoheader">
        <div class="logosearch">
            <div class="logocontainer">

              <img src="/./images/logo3.jpg" width="40" alt="logo">
            </div>

            <div class="search">
                  <form action="/search" class="search-form">
                    <i class="fas fa-search"></i>
                    <input type="search" name="term" placeholder="Busca lo que querés" class="buscador">
                    <input type="submit" value="Search" class="buttonsearch">
                  </form>
                </div>

      </div>

              <div class="linksheader">
                      <div class="link-carrito">

                            <nav>
                              <ul class="nav-links">
                                <a href="/carts"></i><button>Carrito</button></a>
                              </ul>
                            </nav>

                      </div>
                  
                        <div class="link-login">
                          <a href="/users/login"> <button>Ingresar</button> </a>

                        </div>

                </div>

      </div>
</header>


       
